@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Register css */

.reg {
  padding: 0.6rem 1.75rem !important;
}

.register {
  margin-bottom: 15px !important;
}

.form_item {
  margin-bottom: 1rem !important;
}

/* Login css */

.row {
  margin: 0 0;
}

.form_details {
  max-height: 100vh;
  background-color: #ffffff;
  max-width: 400px;
  margin: auto;
  padding: 50px 10px;
}

.para {
  color: gray;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn {
  width: 150px;
  border-radius: 10px;
  background-color: #f8f8f8;
  color: #3a3161;
  border: 1px solid #3a3161;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 100px;
  transform: translateX(10%);
  transition: 0.5s all;
  text-align: center;
}

.btn:hover {
  background-color: #3a3161;
  color: #f8f8f8;
  border-color: #ffffff;
}

.btn > img {
  width: 15px;
  height: 15px;
  margin: auto;
  margin-left: 10px;
  justify-content: center;
}

h4 {
  margin-top: 15px;
  font-weight: 600;
  color: #070928;
}

.right_span {
  text-align: end;
  margin-top: 10px;
  font-size: 0.8rem;
}

.register_info {
  margin-top: 10px;
  font-size: 0.8rem;
}

.separate {
  display: flex;
  flex-direction: row;
  color: grey;
}
.separate:before,
.separate:after {
  content: "";
  flex: 1;
  border-bottom: 1px solid;
  margin: auto;
}
.separate:before {
  margin-right: 2px;
}
.separate:after {
  margin-left: 2px;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1rem;
  color: inherit;
  padding: 1rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid rgb(238, 16, 16);
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group:not(:last-child) {
  margin-bottom: 1.5rem;
}

.form__label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

/* Landing Page */

.landing-main {
  background-image: url("./assets/landingBackdrop.png");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.landing-header {
  padding-top: 5vh;
  height: 25vh;
}

.landing-header img {
  height: 100%;
  width: 15%;
}

.landing-header h1 {
  font-size: 4vw;
}

.landing-main .row .col-lg-5 {
  padding: 0 0 0 5vw;
  padding-top: 7vw;
}

.landing-main h6 {
  font-size: 20px;
  padding-top: 5%;
  color: #9789ac;
}

.landing-main .btn {
  transform: translateX(100%);
  background-color: #fb527a;
  color: #fff;
  font-weight: 600 !important;
  /* margin-left: 24%; */
  font-size: 14px;
  display: inline-block;
  padding: 12px 12px;
  margin-top: 14%;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
}

@media (max-width: 750px) {
  .landing-main .row h1 {
    font-size: 3.4vw;
  }
  .landing-main .row h6 {
    font-size: 2.4vw;
  }
}
@media (max-width: 570px) {
  .landing-main .row h1 {
    font-size: 37px;
  }
  .landing-main .row h6 {
    font-size: 24px;
  }
  .landing-header img {
    height: 100%;
    width: 25%;
  }
  .landing-header h1 {
    font-size: 6vw;
  }
}
