@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

/* Navbar css */
/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2.1rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 2px #f8f8f8;
  opacity: 0.9;
  text-decoration: none;
}

.navbar ul {
  display: flex;
}

.title {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
  text-decoration: none;
  font-weight: 800;
}

.fa-google {
  color: #3456ff;
}

.fa-google:hover {
  color: #fff;
  text-decoration: none;
} */

/* Landing Page */

.landing-main {
	background-image: url('./img/landingBackdrop.png');
	height: 100vh;
	width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

.landing-header {
  padding-top: 5vh;
	height: 25vh;
}

.landing-header img {
	height: 100%;
	width: 15%;
}

.landing-header h1 {
	font-size: 4vw;
}

.landing-main .row .col-lg-5 {
  padding: 0 0 0 5vw;
	padding-top: 7vw;
}

.landing-main h6 {
	font-size: 20px;
	padding-top: 5%;
	color: #9789ac;
}

.landing-main .btn{
  transform: translateX(100%);
	background-color: #fb527a;
	color: #fff;
	font-weight: 600 !important;
	/* margin-left: 24%; */
	font-size: 14px;
	display: inline-block;
	padding: 12px 12px;
	margin-top: 14%;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
}

@media (max-width: 750px ) {
  .landing-main .row h1{
    font-size: 3.4vw;
  }
  .landing-main .row h6{
    font-size: 2.4vw;
  }
}
@media (max-width: 570px ) {
  .landing-main .row h1{
    font-size: 37px;
  }
  .landing-main .row h6{
    font-size: 24px;
  }
  .landing-header img {
    height: 100%;
    width: 25%;
  }
  .landing-header h1 {
    font-size: 6vw;
  }
}