doctype html
html
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
      style
       include ../public/components/Register/register.css
      title Register
    
    body 
        div.d-flex.flex-row.row.g-0
            div.form_details.col
                h1 Sign Up
                p.para Lorem ipsum

                form(action="")
                    div.form-floating.mb-4
                        label(for="floatingName") Your Name
                        input.name.form-control#floatingName(type="text")
                        
                    div.form-floating.mb-4
                        label(for="floatingInput") Email address
                        input.mail.form-control#floatingInput(type="email", placeholder="mail@website.com")
                
                    div.form-floating.mb-4
                        label(for="floatingPass") Password
                        input.pass.form-control#floatingPass(type="password", placeholder="Min. 8 characters")
                        
                    
                    button.btn.register Register
                    p.login_info Already have an account? 
                        a(href="/login") Login here
                
            
            div.col.sideImg
                    img.img-fluid.img(src="https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80", alt="login_img")
        