@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  max-height: 100vh;
  background-color: #ffffff;
}

.form_details {
  max-width: 40%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.sideImg {
  max-width: 60%;
}

.img {
  height: 100vh;
  width: 100%;
  object-fit: fill;
}

h1 {
  font-weight: 800;
  color: #070928;
}

/* .google {
  border-radius: 25px;
  background-color: #f8f8f8;
  border: 1px solid #070928;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 1rem;
}

.google:hover {
  background-color: #070928;
  color: #f8f8f8;
  border-color: #ffffff;
}

.google > img {
  width: 20px;
  height: 20px;
  justify-content: center;
} */

button {
  width: 80%;
  padding: 10px;
  border: 1px solid grey;
}

.register {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  border-radius: 25px;
  background-color: #3456ff;
  color: #f8f8f8;
  width: 90%;
  letter-spacing: 3px;
}

.register:hover {
  color: #3456ff;
  background-color: #f8f8f8;
  border-color: #3456ff;
}

.mail,
.pass,
.name {
  width: 90%;
  border-radius: 25px;
  height: 6vh;
  margin-bottom: 10px;
  border: 1px solid grey;
  padding: 0 15px;
  color: #3456ff;
}

input[type="text"] {
  color: #f8f8f8;
}

.mail:focus,
.pass:focus,
.name:focus {
  box-shadow: 10px 10px 10px 1px #070928;
  border: 1px solid #070928;
}

a {
  text-decoration: none;
  color: #3456ff;
}

.login_info {
  font-size: 0.9rem;
}
